@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.link {
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

.title {
    font-family: "Old Standard TT", serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #4D0200;
}

.red-button {
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(92.45deg, #620300 -10.06%, #E1555D 116.87%);
}

.red-button:hover {
    filter: drop-shadow(2px 4px 6px rgba(77, 2, 0, 0.5));
}

.red-button:active {
    background: #620300;
}

.red-button.disabled {
    background: linear-gradient(92.45deg, rgba(98, 3, 0, 0.5) -10.06%, rgba(225, 85, 93, 0.5) 116.87%);
    border: none;
}

.header-and-footer-item:hover {
    color: #E5555D;
}

.header-and-footer-item:active {
    color: #FFFFFF;
    text-decoration: underline;
}

.transparent-button:hover {
    background-color: #620300;
    border: #620300 1px solid;
}

.transparent-button:active {
    background: #450200;
    border: #450200 1px solid;
}

/* HEADER */


.header {
    background-image: url(./assets/header-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;

}

.header__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.header__icons {
    display: flex;
    gap: 37px;
}

.header__links {
    display: flex;
    gap: 50px;
}

.header__number-wrapper {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5px;
}

.header__number {
    font-weight: 500;
}

.header__call {
    text-decoration: underline;
    font-size: 14px;
}

.header__title {
    padding-top: 155px;
    font-size: 48px;
    font-family: "Old Standard TT", serif;
    text-transform: uppercase;
    max-width: 834px;
}

.header__description {
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    max-width: 568px;
    padding-top: 15px;
}

.header__button-wrapper {
    padding-top: 30px;
    padding-bottom: 200px;
}

.header__red-link {
    padding: 20px 86px;
}

.cart-icon-wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    object-fit: cover;
    transition: opacity 0.3s ease;

}

.cart-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.cart-icon-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/red-cart.svg);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cart-icon-wrapper:hover::before {
    opacity: 1;
}

.cart-icon-wrapper:hover .cart-icon {
    opacity: 0;
}

.glass-icon-wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.glass-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.glass-icon-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/red-glass.svg);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.glass-icon-wrapper:hover::before {
    opacity: 1;
}

.glass-icon-wrapper:hover .cart-icon {
    opacity: 0;
}


/* INTRO */


.intro__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 80px 0;
}

.intro__img {
    max-width: 527px;
}

.intro__text-up {
    padding-top: 20px;
    font-family: "Noto Sans", sans-serif;
    max-width: 530px;
}

.intro__text-down {
    padding-top: 20px;
    font-family: "Noto Sans", sans-serif;
    max-width: 530px;
}


/* PRIORITIES */


.priorities {
    background-color: #D2CBC126;
}

.priorities__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.priorities__left {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.priorities__right {
    display: flex;
    flex-direction: column;
}

.priorities__item {
    display: flex;
    gap: 20px;
}

.priorities__img {
    max-width: 424px;
}

.priorities__item-title {
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    color: #333333;
    font-weight: 500;
    padding-bottom: 7px;
}

.priorities__item-description {
    font-family: "Noto Sans", sans-serif;
    color: #333333;
    font-weight: 300;
    max-width: 285px;
}

.priorities__title {
    padding-bottom: 10px;
}

.priorities__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.priorities__wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


/* ACTION */


.action {
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/action-img.png) center/cover no-repeat;
    color: #FFFFFF;
    margin-top: 80px;
}

.action__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.action__wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action__title {
    color: inherit;
}

.action__description {
    font-family: "Noto Sans", sans-serif;
}

.action__link {
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    padding: 15px 86px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #FFFFFF;
}


/* CATALOGUE */


.catalogue {
    margin-top: 79px;
}

.catalogue__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.catalogue__title {
    text-align: center;
}

.catalogue__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 50px 32px;
    margin: 30px 0 80px;
}

.catalogue__item_box {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-box.png) center/cover no-repeat;

}

.catalogue__item_basket {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-basket.png) center/cover no-repeat;

}

.catalogue__item_bouquet {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-bouquet.png) center/cover no-repeat;

}


.catalogue__item_plastic {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-plastic.png) center/cover no-repeat;

}

.catalogue__item_heart {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-heart.png) center/cover no-repeat;
}

.catalogue__item-content {
    padding: 94px 73px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalogue__item-title {
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
}

.catalogue__item-button {
    padding: 18px 73px;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #FFFFFF; 
}

.catalogue__item-button-final:hover {
    background-color: #620300;
    border: #620300;
    color: #FFFFFF;
}

.catalogue__item-button-final:active {
    background-color: #450200;
    border: #450200;
    color: #FFFFFF;
}

.catalogue__item-button-final.disabled {
    background-color: #FFFFFF;
    color: #C4C4C4;
    border: solid 1px #C4C4C4;
}

.catalogue__item_final {
    border: 1px solid #3333331A;
    max-width: 390px;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.catalogue__item-button-final {
    text-align: center; 
    padding: 9px 55px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    color: #4D0200;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #4D0200;
}



.catalogue__item-button-wrapper-final {
    display: flex;
    gap: 10px;
}

.catalogue__arrow {
    text-align: center;
}


/* HIT */


.hit {
    background-color: #D2CBC126;
}

.hit__container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
}

.hit__wrapper {
    display: flex;
    gap: 32px;
    align-self: center;
    justify-self: center;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;  
    max-width: 1240px;  
    position: relative;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    padding-bottom: 35px;
}

.hit__wrapper::-webkit-scrollbar {
    display: none;  
}

.hit__item {
    min-width: 392px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border: 1px solid #4D020080;
    border-radius: 5px;
    flex-shrink: 0;
    flex: 0 0 auto;
    background-color: #FFFFFF;
    transition: transform 0.5s ease;
    scroll-snap-align: start;
    scroll-snap-stop: always; 
    box-shadow: 0 2px 10px 0 #00000040;

}

.hit__wrapper > .hit__item {
    scroll-snap-align: center;
    min-width: 280px;
    flex-shrink: 0;
}

.hit__item-img {
    max-width: 388px;
    width: 100%;
}

.hit__title {
    text-align: center;
    padding: 30px 0;
}

.hit__item-title {
    font-family: "old standard TT", serif;
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
    color: #333333;
}

.hit__item-subtitle {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    color: #6A6A6A;
    text-align: center;
}

.hit__item-price {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.hit__item-button {
    padding: 15px 37px;
}

.hit__item-button-wrapper {
    margin: 10px 0 20px;
}

.hit__button:hover {
    filter: drop-shadow(0px 1px 4px rgba(77, 2, 0, 0.8));

}


.hit__slider-container {
    display: flex;
    gap: 43px;
    justify-content: center;
    align-items: center;
    width: 100%
}

.dot-pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}

.dot {
    width: 15px;
    height: 15px;
    border: 1px solid #4D0200;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

.dot.active {
    background-color: #4D0200;
}


/* DELIVERY */


.delivery__wrapper {
    padding-top: 80px;
    display: flex;
    gap: 32px;
}

.delivery__img-wrapper {
    padding-left: 50px;
}

.delivery__img {
    max-width: 498px;
}

.delivery__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.delivery__list {
    list-style-type: none;
}

.delivery__list-item {
    font-family: "Noto Sans", sans-serif;
    color: #333333;
    margin-bottom: 25px;

}

.delivery__right {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.delivery__title {
    padding-bottom: 20px;
}

.delivery__circle {
    padding-right: 8px;
}


/* FEEDBACK */

.feedback {
    position: relative; 
    overflow: hidden;
}


.feedback__wrapper {
    position: relative; 
    max-width: 819px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.feedback__title {
    margin-top: 30px;
    margin-bottom: 24px;
}

.feedback__subtitle {
    font-family: "Noto Sans", sans-serif;
    max-width: 654px;
    text-align: center;
    color: #333333;
}

.feedback__input {
    max-width: 650px;
    padding: 27px 483px 28px 33px;
    margin-top: 30px;
    border: 1px solid #26254C80;
    border-radius: 5px;
}

.input-name.error {
    border-color: #ff4444 !important; /* Приоритет над всеми состояниями */
    background-image: url(./assets/input-error.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding-right: 60px;
    width: 650px;
}

.feedback__input {
    border: 1px solid rgba(38, 37, 76, 0.5);
    transition: border-color 0.3s ease;
}

.feedback__input:hover {
    border: 1px solid #333333;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.5));
}

.feedback__input:focus {
    border: 1px solid #333333;
    outline: none;
}

.feedback__input.disabled {
    background-color: #C4C4C480;
    color: #6A6A6ACC;
    border: none;
    pointer-events: none;
}

.feedback__button-wrapper {
    margin: 30px 0 80px;
}

.feedback-button {
    padding: 28px 147px;
}

.feedback-input::placeholder {
    color: #C4C4C4;
    font-family: "Noto Sans", sans-serif;
}

.feedback__img {
    position: absolute;
    right: -140px;   
    bottom: -90px;   
    max-width: 297px;
    z-index: 2; 
}

.feedback__button-up {
    position: absolute;
    left: -196px;
    bottom: 0px;
    z-index: 2; 
    cursor: pointer;
}

.feedback__button-up:hover {
    filter: drop-shadow(0px 2px 4px rgba(77, 2, 0, 0.8));
}



/* FOOTER */


.footer {
    background-color: #1F3339;
    color: #FFFFFF;
}

.footer__title {
    color: inherit;
    text-align: center;
    padding-top: 30px;
}

.footer__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 41px;
    cursor: pointer;
}

.footer__item-title {
    font-size: 22px;
    color: inherit;
    padding-bottom: 14px;
    text-transform: none;
    font-weight: 700;
}

.footer__item-content {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}

.footer__item-content-logo {
    display: flex;
    gap: 21px;
}

.footer__logo {
    max-width: 45px;
}


/* FOOTER-BOTTOM */


.footer-bottom {
    background-color: #1F3339;
    color: #FFFFFF;
}

.footer-bottom__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-bottom__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 30px;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
}

.footer-bottom__links {
    display: flex;
    gap: 50px;
}

.horizontal-line {
    border-top: 1px solid #FFFFFF40; 
    width: 100%; 
}
