@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html {
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}

.title {
    font-family: "Old Standard TT", serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #4D0200;
}

.red-button {
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(92.45deg, #620300 -10.06%, #E1555D 116.87%);
}

.red-button:hover {
    filter: drop-shadow(2px 4px 6px rgba(77, 2, 0, 0.5));
}

.red-button:active {
    background: #620300;
}

.red-button:disabled {
    background: linear-gradient(92.45deg, rgba(98, 3, 0, 0.5) -10.06%, rgba(225, 85, 93, 0.5) 116.87%);
    border: none;
    pointer-events: none;
}

.header-and-footer-item:hover {
    color: #E5555D;
}

.header-and-footer-item:active {
    color: #FFFFFF;
    text-decoration: underline;
}

.transparent-button:hover {
    background-color: #FFFFFFCC;
    color: #333333;
    border: #FFFFFFCC solid 1px;
}

.transparent-button:active {
    background: #FFFFFF;
    border: #FFFFFF 1px solid;
    color: #333333;
}

/* HEADER */


.header {
    background-image: url(./assets/header-img.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.header__container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 7px;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.header__icons {
    display: flex;
    gap: 37px;
}

.header__links {
    display: flex;
    gap: 50px;
}

.header__number-wrapper {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5px;
}

.header__number {
    font-weight: 500;
}

.header__call {
    text-decoration: underline;
    font-size: 14px;
}

.header__title {
    padding-top: 103px;
    font-size: 48px;
    font-family: "Old Standard TT", serif;
    text-transform: uppercase;
    max-width: 834px;
    line-height: 72px;
}

.header__description {
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    max-width: 568px;
    padding-top: 15px;
    line-height: 33px;
    font-weight: 400;
}

.header__button-wrapper {
    margin-top: 30px;
    margin-bottom: 150px;
}

.header__red-link {
    padding: 20px 86px;
}

.cart-icon-wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    object-fit: cover;
    transition: opacity 0.3s ease;

}

.cart-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.cart-icon-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/red-cart.png");
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cart-icon-wrapper:hover::before {
    opacity: 1;
}

.cart-icon-wrapper:hover .cart-icon {
    opacity: 0;
}

.glass-icon-wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.glass-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.glass-icon-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/red-glass.png");
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.glass-icon-wrapper:hover::before {
    opacity: 1;
}

.glass-icon-wrapper:hover .cart-icon {
    opacity: 0;
}


/* INTRO */


.intro__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    padding: 80px 0;
}

.intro__img {
    max-width: 527px;
}

.intro__text-up {
    padding-top: 20px;
    font-family: "Noto Sans", sans-serif;
    max-width: 470px;
    color: #333333;
    line-height: 24px;
}

.intro__text-down {
    padding-top: 20px;
    font-family: "Noto Sans", sans-serif;
    max-width: 500px;	
    color: #333333;
    line-height: 24px;
}


/* PRIORITIES */


.priorities {
    background-color: #D2CBC126;
}

.priorities__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.priorities__left {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.priorities__right {
    display: flex;
    flex-direction: column;
}

.priorities__item {
    display: flex;
    gap: 20px;
}

.priorities__img {
    max-width: 424px;
}

.priorities__item-title {
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    color: #333333;
    font-weight: 500;
    padding-bottom: 7px;
}

.priorities__item-description {
    font-family: "Noto Sans", sans-serif;
    color: #333333;
    font-weight: 300;
    max-width: 285px;
}

.priorities__title {
    padding-bottom: 10px;
}

.priorities__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.priorities__wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


/* ACTION */


.action {
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/action-img.png) center/cover no-repeat;
    color: #FFFFFF;
    margin: 80px 0;
}

.action__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.action__wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action__title {
    color: inherit;
}

.action__description {
    font-family: "Noto Sans", sans-serif;
}

.action__link {
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    padding: 15px 86px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #FFFFFF;
}


/* CATALOGUE */


.catalogue__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.catalogue__title {
    text-align: center;
}

.catalogue__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 50px 32px;
    margin: 30px 0 80px;
}

.catalogue__item_box {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-box.png) center/cover no-repeat;

}

.catalogue__item_basket {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-basket.png) center/cover no-repeat;

}

.catalogue__item_bouquet {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-bouquet.png) center/cover no-repeat;

}


.catalogue__item_plastic {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-plastic.png) center/cover no-repeat;

}

.catalogue__item_heart {
    max-width: 390px;
    border-radius: 5px;
    background:
            linear-gradient(rgba(13, 26, 32, 0.5), rgba(13, 26, 32, 0.5)),
            url(./assets/berries-heart.png) center/cover no-repeat;
}

.catalogue__item-content {
    padding: 94px 73px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalogue__item-title {
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    height: 66px; /*чтобы верстка не поехала */
    line-height: 33px;
}

.catalogue__item-button {
    padding: 18px 73px;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #FFFFFF; 
}

.white-button:hover {
    background-color: #620300;
    border: #620300;
    color: #FFFFFF;
}

.white-button:active {
    background-color: #450200;
    border: #450200;
    color: #FFFFFF;
}

.white-button:disabled {
    background-color: #FFFFFF;
    color: #C4C4C4;
    border: solid 1px #C4C4C4;
    pointer-events: none;
}

.catalogue__item_final {
    border: 1px solid #3333331A;
    max-width: 390px;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.catalogue__item-button-final {
    text-align: center; 
    padding: 9px 55px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    color: #4D0200;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #4D0200;
}

.catalogue__item-button-wrapper-final {
    display: flex;
    gap: 10px;
}

.catalogue__arrow {
    text-align: center;
}


/* HIT */


.hit {
    background-color: #D2CBC126;
}

.hit__container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
}

.hit__wrapper {
    display: flex;
    gap: 32px;
    align-self: center;
    justify-self: center;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;  
    max-width: 1240px;  
    position: relative;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    padding-bottom: 35px;
    transition: transform 0.5s ease;
}

.hit__wrapper::-webkit-scrollbar {
    display: none;  
}

.hit__item {
    min-width: 392px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border: 1px solid #4D020080;
    border-radius: 5px;
    flex-shrink: 0;
    flex: 0 0 auto;
    background-color: #FFFFFF;
    transition: transform 0.5s ease;
    scroll-snap-align: start;
    scroll-snap-stop: always; 
    box-shadow: 0 2px 10px 0 #00000040;

}

.hit__item-img {
    max-width: 388px;
    width: 100%;
}

.hit__title {
    text-align: center;
    padding: 30px 0;
}

.hit__item-title {
    font-family: "old standard TT", serif;
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
    color: #333333;
}

.hit__item-subtitle {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    color: #6A6A6A;
    text-align: center;
}

.hit__item-price {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.hit__item-button {
    padding: 15px 37px;
}

.hit__item-button-wrapper {
    margin: 10px 0 20px;
}

.hit__button:hover {
    filter: drop-shadow(0px 1px 4px rgba(77, 2, 0, 0.8));

}


.hit__slider-container {
    display: flex;
    gap: 43px;
    justify-content: center;
    align-items: center;
    width: 100%
}

.dot-pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}

.dot {
    width: 15px;
    height: 15px;
    border: 1px solid #4D0200;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

.dot.active {
    background-color: #4D0200;
}

.hit__button-next {
    padding-bottom: 80px;
    cursor: pointer;
}

.hit__button-prev {
    padding-bottom: 80px;
    cursor: pointer;
}


/* DELIVERY */


.delivery__wrapper {
    padding-top: 80px;
    display: flex;
    gap: 32px;
}

.delivery__img-wrapper {
    padding-left: 50px;
}

.delivery__img {
    max-width: 498px;
}

.delivery__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.delivery__list {
    list-style-type: none;
}

.delivery__list-item {
    display: flex;
    gap: 12px;
    font-family: "Noto Sans", sans-serif;
    color: #333333;
    margin-bottom: 25px;
}

.delivery__right {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.delivery__title {
    padding-bottom: 20px;
}

/* .delivery__circle {
    padding-right: 8px;
} */


/* FEEDBACK */

.feedback {
    position: relative; 
    overflow: hidden;
}


.feedback__wrapper {
    position: relative; 
    max-width: 819px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.feedback__title {
    margin-top: 30px;
    margin-bottom: 24px;
}

.feedback__subtitle {
    font-family: "Noto Sans", sans-serif;
    max-width: 654px;
    text-align: center;
    color: #333333;
    line-height: 24px;
}

.feedback__input {
    max-width: 609px;
    padding: 27px 483px 28px 33px;
    margin-top: 30px;
    border: 1px solid #26254C80;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    font-family: "Noto Sans", sans-serif;
}

.input-name:invalid {
    border-color: #ff4444 !important;
    background-image: url(./assets/input-error.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding-right: 60px;
    width: 650px;
    filter: drop-shadow(0 0 0 transparent);
}

.feedback__input:hover:not(:focus) {
    border: 1px solid #333333;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.5));
}

.feedback__input:focus {
    border: 1px solid #333333;
    outline: none;
    filter: drop-shadow(0 0 0 transparent);
}

.feedback__input:disabled {
    background-color: #C4C4C480;
    color: #6A6A6ACC;
    border: none;
    pointer-events: none;
}

.feedback__button-wrapper {
    margin: 30px 0 80px;
}

.feedback-button {
    padding: 28px 147px;
    pointer-events: none;
}

.feedback__input::placeholder {
    color: #C4C4C4;
    font-family: "Noto Sans", sans-serif;
    line-height: 24px;
    font-weight: 400px;
    font-style: normal;
}

.feedback__img {
    position: absolute;
    right: -140px;   
    bottom: -90px;   
    max-width: 297px;
    z-index: 2; 
}

.feedback__button-up {
    position: absolute;
    left: -196px;
    bottom: 0px;
    z-index: 2; 
    cursor: pointer;
}

.feedback__button-up:hover {
    filter: drop-shadow(0px 2px 4px rgba(77, 2, 0, 0.8));
}



/* FOOTER */


.footer {
    background-color: #1F3339;
    color: #FFFFFF;
}

.footer__title {
    color: inherit;
    text-align: center;
    padding-top: 30px;
}

.footer__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 41px;
    cursor: pointer;
}

.footer__item-title {
    font-size: 22px;
    color: inherit;
    padding-bottom: 14px;
    text-transform: none;
    font-weight: 700;
}

.footer__item-content {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.footer__item-content-logo {
    display: flex;
    gap: 21px;
}

.footer__logo {
    max-width: 45px;
}


/* FOOTER-BOTTOM */


.footer-bottom {
    background-color: #1F3339;
    color: #FFFFFF;
}

.footer-bottom__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-bottom__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 30px;
    font-family: "Noto Sans", sans-serif;
    color: #FFFFFF;
}

.footer-bottom__links {
    display: flex;
    gap: 50px;
}

.horizontal-line {
    border-top: 1px solid #FFFFFF40; 
    width: 100%; 
}

/* CATALOGUE-отдельная закладка */

.catalogue__top {
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    gap: 10px;
    margin: 20px 0 32px;
}

.catalogue__red-text {
    color: #4D0200;
}

.catalogue__kinds-wrapper {
    font-family: "Noto Sans", sans-serif;
    display: flex;
    gap: 49px;
    justify-content: center;
    padding-top: 42px;
    color: #6A6A6A;
}

.catalogue__kinds-item {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: start;
    align-items: center;
    max-width: 137px;
}

.catalogue__empty-box-wrapper {
    width: 50px;
    height: 50px;
    position: relative;
    object-fit: cover;
    transition: opacity 0.3s ease;

}

.catalogue__empty-box-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.catalogue__empty-box-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/red-empty-box.svg");
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.catalogue__empty-box-wrapper:hover::before {
    opacity: 1;
}

.catalogue__empty-box-wrapper:hover .catalogue__empty-box-img {
    opacity: 0;
}

.catalogue__empty-box-wrapper:active::before {
    opacity: 1;
    background-image: url("/assets/empty-box-active.svg"); 
}

.catalogue__empty-box-wrapper:active .catalogue__empty-box-img {
    opacity: 0;
}

.catalogue__kinds-item-img {
    width: 50px;
}

.catalogue__price-filter-wrapper {
    width: 163px;
    margin-top: 25px;
    margin-bottom: 30px;
    justify-self: center;
}

.catalogue__price-input {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
    
.catalogue__price-input input {
    width: 45px;
    height: 25px;
    border: 1px solid #333333;
    border-radius: 5px;
    color: #333333;
    font-size: 13px;
    text-align: center;
    background-color: #FFFFFF;
    -moz-appearance: textfield;
    padding: 0 5px;
}
    
.catalogue__price-input input::-webkit-outer-spin-button,
.catalogue__price-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

.range-min::-webkit-slider-thumb {
    transform: translateX(-5px);
}

.range-max::-webkit-slider-thumb {
    transform: translateX(5px);
}
    
.catalogue__slider-container {
    position: relative;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
    
.catalogue__slider {
    position: relative;
    width: 100%;
    height: 5px;
    background: #C4C4C4;
}
    
.catalogue__slider .progress {
    position: absolute;
    left: 25%;
    right: 25%;
    height: 100%;
    background: #4D0200;
    border-radius: 3px;
}
    
.range-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.range-input input {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translateY(-50%);
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
    
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #4D0200;
    pointer-events: auto;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 2;
}
    
input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #4D0200;
    pointer-events: auto;
    -moz-appearance: none;
    cursor: pointer;
    z-index: 2;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 27px;
    margin-left: 10px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C4C4C4;
    transition: .4s;
    border-radius: 25px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 22px;
    left: 6px;
    top: 50%;    
    transform: translateY(-50%); 
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-input:checked + .toggle-slider {
    background-color: #4D0200;
}

.toggle-input:checked + .toggle-slider:before {
    transform: translateY(-50%) translateX(17px); 
}

.toggle-slider:hover {
    background-color: #E5555D40;
}

.catalogue__filter {
    max-width: 400px;
    background-color: #F8F7F6;
    font-family: "Noto Sans", sans-serif;
}

.catalogue__filter-container {
    padding: 20px 24px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #333333;
}

.filter-title {
    font-weight: 600;
}

.catalogue__filter-sort-wrapper {
    display: flex;  
    flex-direction: column;
    gap: 15px;
    margin-bottom: 28px;
}

.catalogue__filter-sort-wrapper input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #4D0200;
    border-radius: 5px;
}

.catalogue__filter-sort-wrapper input[type="radio"]:checked {
    border: 1px solid #4D0200;
    background-image: url(./assets/filter-tick.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}

.catalogue__filter-berries-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.catalogue__filter-berries-wrapper {
    display: flex;  
    flex-direction: column;
    gap: 15px;
}

.catalogue__filter-berries-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #4D0200;
    border-radius: 5px;

}

.catalogue__filter-berries-wrapper input[type="checkbox"]:checked {
    border: 1px solid #4D0200;
    background-image: url(./assets/filter-tick.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}

.catalogue__filter-berries-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.catalogue__radio {
    cursor: pointer;
}

.catalogue__radio-option {
    cursor: pointer;
}

.catalogue__filter-sweets {
    display: flex;
	align-items: center;
}

.catalogue__filter-sort-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.catalogue__filter-berries-item {
    cursor: pointer;
}

.catalogue__look-more {
    text-decoration: underline;
    color: #4D0200;
    cursor: pointer;
    margin-bottom: 20px;
}

.catalogue__filter-and-result {
    display: flex;
    padding-top: 32px;
    gap: 30px;

}

.catalogue__result-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 50px 32px;
}

.catalogue__result-item {
    max-width: 286px;
    border: 1px solid #4D020080;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.catalogue__result-img {
    max-width: 286px;
    height: 255px;
}

.catalogue__result-button {
    padding: 18px 47px;
}

.catalogue__result-title {
    font-family: "Old Standard TT", serif;
    font-size: 22px;
    color: #333333;
}

.catalogue__result-title-and-price {
    display: flex;
    justify-content: space-between;
    width: 244px;
}

.catalogue__result-price {
    font-size: 18px;
    color: #4D0200;
    font-weight: 600;
}

.catalogue__result-more {
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
}

.catalogue__kinds-item-text {
    text-align: center;
}

.catalogue__filter-horizontal-line {
    border-top: 1px solid #4D02004D;
    opacity: 0.3;
    max-width: 212px;
}

.catalogue__radio:hover {
    box-shadow: 0px 1px 2px rgba(77, 2, 0, 0.5);
}

.catalogue__filter-sort-wrapper input[type="radio"]:disabled {
    border: #C4C4C4 1px solid;
    background-color: #FFFFFF;
    cursor: not-allowed;
    pointer-events: none;
}

.catalogue__filter-sort-wrapper input:disabled + label {
    color: #33333380;
    pointer-events: none;
    cursor: none
}

.catalogue__filter-sort-item.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px; 
    align-items: end;
    height: 35px;
}

.new-price {
    color: #4D0200;
    font-size: 18px;
    font-weight: 600;
    line-height: 1; 
}

.red-price {
    color: #E5555D;
    font-size: 18px;
    font-weight: 600;
    line-height: 1; 
}

.old-price {
    position: relative;
    color: #C4C4C4;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
}

.old-price::before {
    content: "";
    position: absolute;
    top: 60%;
    left: -20%;
    width: 54px;
    height: 0.5px;
    background-color: #E5555D;
    transform: rotate(-5deg);
    z-index: 1;
}

.catalogue__filter-berries-hidden {
    display: block;
    transition: height 0.3s ease;
}

.catalogue__filter-berries-hidden.hidden {
    display: none;
}
